@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-red: #cc0000;
  --color-brand-yellow: #ffcc00;
  --color-bg-gray: #f2f2f2;
}

body {
  @apply bg-bg-gray text-slate-800 antialiased;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffcc00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6b800;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

